# Get the Client ID and Secret from the Developer Portal
# https://developer.bigcommerce.com/api-docs/apps/quick-start#register-a-draft-app

CLIENT_ID={app client id}
CLIENT_SECRET={app secret}

# Test locally with ngrok
# https://developer.bigcommerce.com/api-docs/apps/guide/development#testing-locally-with-ngrok

AUTH_CALLBACK=https://{ngrok_id}.ngrok.io/api/auth

# Replace jwt key with a 32+ random character secret

JWT_KEY={SECRET}

# Specify the type of database
DB_TYPE=firebase

# If using firebase, enter your config here

FIRE_API_KEY={firebase key}
FIRE_DOMAIN={firebase domain}
FIRE_PROJECT_ID={firebase project id}

# If using mysql, enter your config here

MYSQL_HOST={mysql host}
MYSQL_DATABASE={mysql database name}
MYSQL_USERNAME={mysql username}
MYSQL_PASSWORD={mysql password}
MYSQL_PORT={mysql port *optional*}
