# Get the Client ID and Secret from the Developer Portal
# https://developer.bigcommerce.com/api-docs/apps/quick-start#register-a-draft-app

CLIENT_ID={app client id}
CLIENT_SECRET={app secret}

# Test locally with ngrok
# https://developer.bigcommerce.com/api-docs/apps/guide/development#testing-locally-with-ngrok

AUTH_CALLBACK=https://{ngrok_id}.ngrok.io/api/auth
